<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>till online</title>
<link rel="stylesheet" href="../css/screen.css" type="text/css"
	media="screen" title="default" />
<!--[if IE]>
<link rel="stylesheet" media="all" type="text/css" href="css/pro_dropline_ie.css" />
<![endif]-->

<!--  jquery core -->
<script src="../js/jquery/jquery-1.4.1.min.js" type="text/javascript"></script>

<!--  checkbox styling script -->
<script src="../js/jquery/ui.core.js" type="text/javascript"></script>
<script src="../js/jquery/ui.checkbox.js" type="text/javascript"></script>
<script src="../js/jquery/jquery.bind.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function() {
		$('input').checkBox();
		$('#toggle-all').click(function() {
			$('#toggle-all').toggleClass('toggle-checked');
			$('#mainform input[type=checkbox]').checkBox('toggle');
			return false;
		});
	});
</script>





<!--  styled select box script version 2 -->
<script src="../js/jquery/jquery.selectbox-0.5_style_2.js"
	type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('.styledselect_form_1').selectbox({
			inputClass : "styledselect_form_1"
		});
		$('.styledselect_form_2').selectbox({
			inputClass : "styledselect_form_2"
		});
	});
</script>

<!--  styled select box script version 3 -->
<script src="../js/jquery/jquery.selectbox-0.5_style_2.js"
	type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('.styledselect_pages').selectbox({
			inputClass : "styledselect_pages"
		});
	});
</script>

<!--  styled file upload script -->
<script src="../js/jquery/jquery.filestyle.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
	$(function() {
		$("input.file_1").filestyle({
			image : "images/forms/upload_file.gif",
			imageheight : 29,
			imagewidth : 78,
			width : 300
		});
	});
</script>

<!-- Custom jquery scripts -->
<script src="../js/jquery/custom_jquery.js" type="text/javascript"></script>

<!-- Tooltips -->
<script src="../js/jquery/jquery.tooltip.js" type="text/javascript"></script>
<script src="../js/jquery/jquery.dimensions.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function() {
		$('a.info-tooltip ').tooltip({
			track : true,
			delay : 0,
			fixPNG : true,
			showURL : false,
			showBody : " - ",
			top : -35,
			left : 5
		});
	});
</script>

<!--  date picker script -->
<link rel="stylesheet" href="../css/datePicker.css" type="text/css" />



</head>
<body class="body-fond">
	<!-- Start: page-top-outer -->
	<div id="page-top-outer">

		<!-- Start: page-top -->
		<div id="page-top">

			<!-- start logo -->
			<div id="logo">
				<a href=""><img src="../images/shared/logo.png" width="90"
					height="40" alt="" /></a>
			</div>
			
			<div class="clear"></div>

		</div>
		<!-- End: page-top -->

	</div>
	<!-- End: page-top-outer -->

	<div class="clear">&nbsp;</div>

	<!--  start nav-outer-repeat................................................................................................. START -->
	<div class="nav-outer-repeat">
		<!--  start nav-outer -->
		<div class="nav-outer">

			<!-- start nav-right -->
			<div id="nav-right">

<!-- 				<div class="nav-divider">&nbsp;</div> -->
<!-- 				<div class="showhide-account"> -->
<!-- 					<img src="../images/shared/nav/nav_myaccount.gif" width="93" -->
<!-- 						height="14" alt="" /> -->
<!-- 				</div> -->
<!-- 				<div class="nav-divider">&nbsp;</div> -->
<!-- 				<a href="" id="logout"><img -->
<!-- 					src="../images/shared/nav/nav_logout.gif" width="64" height="14" -->
<!-- 					alt="" /></a> -->
				<div class="clear">&nbsp;</div>

				<!--  start account-content -->
				

			</div>
			<!-- end nav-right -->

		<!--  start nav -->
		<div class="nav">
		<div class="table">
		
		<ul class="select"><li><a href="#nogo"><b>Tableau de bord</b><!--[if IE 7]><!--></a><!--<![endif]-->
		<!--[if lte IE 6]><table><tr><td><![endif]-->
		<div class="select_sub">
			<ul class="sub">
				<li><a href="/charts/piechart1">Statistique 1</a></li>
				<li><a href="#nogo">Statistique 2</a></li>
<!-- 				<li><a href="#nogo">Statistique 3</a></li> -->
			</ul>
			
		</div>
		<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		</li>
			
		<li><a href="/caisse"><b>Caisse</b><!--[if IE 7]><!--></a>
		</li>
		
		</ul>
			<ul class="select"><li><a href="/produit/"><b>Produit</b><!--[if IE 7]><!--></a><!--<![endif]-->
		</li>
			<li><a href="/facture/"><b>Facture</b> <!--[if IE 7]><!--></a></li>
					
					
			</ul>
			
		
		<ul class="select"><li><a href="/client/"><b>Client</b> <!--[if IE 7]><!--></a>
							<!--<![endif]--> <!--[if lte IE 6]><table><tr><td><![endif]--> <!--[if lte IE 6]></td></tr></table></a><![endif]-->
						
						</li>
					
					<li><a href="/employe/"><b>Personnel</b></a></li>
						</ul>
		
<!-- 		<ul class="select"><li><a href="#nogo"><b>Facture</b> [if IE 7]><!</a></li>	</ul> -->
		                    
		
<!-- 		<div class="nav-divider">&nbsp;</div> -->
		
	

				
					
				

<!-- 					<div class="nav-divider">&nbsp;</div> -->

					

					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
			<!--  start nav -->

		</div>
		<div class="clear"></div>
		<!--  start nav-outer -->
	</div>

	
	<br/>
   <center> <table border="50" cellspacing="10"  style="margin:20px;" >
    
    <tr> <td colspan="1"> <a href="/caisse/"><img src="../images/shared/caisse.jpg" alt="caisse" width="358" height="212"/></a></td> 
    <td colspan="1"><a href="/produit/"><img src="../images/shared/imgf1.jpg" alt="produit" width="358" height="212"/></a></td>
    <td colspan="1"><a href="/codePromo/"><img src="../images/shared/codepromo.png" alt="codepromo" width="358" height="212"/></a></td>
    
    </tr>
  <tr> <td colspan="1"> <a href="/client/"><img src="../images/shared/client.jpg" alt="client" width="358" height="212"/></a></td>
   <td colspan="1"><a href="/facture/"><img src="../images/shared/facture.jpg" alt="facture" width="358" height="212"/></a></td>
    <td colspan="1"><a href="/employe/"><img src="../images/shared/employe.jpg" alt="employe" width="358" height="212"/></a></td>
  
  </tr>
<!--     <tr><td height="682"><img src="../public/images/img3.png" /></td><td><img src="../public/images/img4.png"/></td> -->
<!--     </tr> -->
    
    
    
    </table>

</center>


<!-- start form here -->







 

<div class="clear">&nbsp;</div>
    
<!-- start footer -->         
<div id="footer">
	<!--  start footer-left 
	<div id="footer-left"> Admin Skin &copy; Copyright Internet Dreams Ltd. <a href="">www.netdreams.co.uk</a>. All rights reserved.</div>-->
	<!--  end footer-left -->
	<div class="clear">&nbsp;</div>
</div>
<!-- end footer -->
 
</body>
</html>
